In [22]:
from collections import Counter

In [23]:
import pandas as pd

DATAFILE='data/judge-cleaned-up2.csv'
NEGATIVES='data/extracted.txt'

In [24]:
data = pd.read_csv(DATAFILE)
data.head()
print(Counter(data['label']))

Counter({0: 5545, 1: 2978, -1: 570})

In [25]:
data.head()

                                                text company  label
0  .@wesley83 I have a 3G iPhone. After 3 hrs twe...   Apple     -1
1  @jessedee Know about @fludapp ? Awesome iPad/i...   Apple      1
2  @swonderlin Can not wait for #iPad 2 also. The...   Apple      1
3  @sxsw I hope this year's festival isn't as cra...   Apple     -1
4  @sxtxstate great stuff on Fri #SXSW: Marissa M...  Google      1

In [26]:
with open(NEGATIVES) as negatives:
    neg_data = negatives.readlines()

In [27]:
len(neg_data)

8627

In [28]:
negs = neg_data[:2400]
neg_table = []
for neg in negs:
    neg_table.append((neg, '', -1))
    
neg_labels = data.columns
neg_frame = pd.DataFrame.from_records(neg_table, columns=neg_labels)
neg_frame.head()

                                                text company  label
0  Nasty budget due and my iphone is being sent t...             -1
1  Just woke up. Apples gig was ace last night. S...             -1
2  New iphone, yay! Not restoring backup, no!  St...             -1
3             AppleTV has died  dreading diagnosis\n             -1
4  Another set of iPod earbuds dying - left going...             -1

In [29]:
new_data = pd.concat([data, neg_frame], ignore_index=True)
new_data.describe()

              label
count  11493.000000
mean       0.000696
std        0.719428
min       -1.000000
25%       -1.000000
50%        0.000000
75%        1.000000
max        1.000000

In [30]:
print(Counter(new_data['label']))

Counter({0: 5545, 1: 2978, -1: 2970})

In [33]:
new_data = new_data.drop(new_data.query('label == 0').sample(frac=(1.0-(2970./5545.))).index).reset_index(drop=True)

In [35]:
print(Counter(new_data['label']))
new_data.describe()

Counter({1: 2978, -1: 2970, 0: 2970})

             label
count  8918.000000
mean      0.000897
std       0.816725
min      -1.000000
25%      -1.000000
50%       0.000000
75%       1.000000
max       1.000000

In [36]:
new_data.to_csv('data/judge-expanded2.csv', header=True, index=False)

In [37]:
data2 = pd.read_csv('data/judge-expanded2.csv')

In [38]:
data2.sample(20)

                                                   text company  label
853   It's like the Ipoo app for iphone!  @mention H...   Apple      1
8077  i had four apples...then i ate one.....now i o...     NaN     -1
6272  Ben benieuwd! RT @mention We interrupt your re...  Google      1
7630  These green apples aren't as sour as I like th...     NaN     -1
3146  #Thanks @mention we're lovin' the @mention app...   Apple      1
7211  @applejacque I need a side hustle.  It's hard ...     NaN     -1
848   Check out the FREE SXSW Sampler on iTunes! {li...   Apple      1
5293  smart! Apple opens a pop-up store in Austin so...   Apple      1
2893  Sounds like Buzz rebranded w/an inner circle  ...  Google      1
6277  The most valuable device at #sxsw so far is th...   Apple      1
67    Nice that @mention iPhone app is behaving toda...   Apple      1
2092  If you aren't at google you just missed the da...  Google      1
3171  Apple seems to be winning in the app world. #sxsw   Apple      1
3785  RT @mention #Google Will Connect the #Digital ...     NaN      0
5430  Google Circles is (not) a real thing and will ...  Google     -1
7932  @cfdj71 I was going to pop in to the Apple sto...     NaN     -1
1517  Rachael Harris! That's who I saw. That was dri...  Google      1
5736  No surprise... ÛÏ@mention Google to Launch Ma...     NaN      0
1264  At #sxsw #tapworthy iPad Design Headaches - av...   Apple     -1
5639  Context is everything: Hollrback rolls out And...     NaN      0